@model IEnumerable<UserVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Popis aktivnih korisnika</h1>

<p>
    <button class="btn btn-success" type="button" onclick="location.href='@Url.Action("Create")'" class="btn btn-primary">Kreiraj novog korisnika</button>
</p>


<table id="userTable" class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.DateCreated)</th>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Username)</th>
            <th>@Html.DisplayNameFor(model => model.Mail)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.Username)</td>
                <td>@Html.DisplayFor(modelItem => item.Mail)</td>
                <td>

                    <a type="button" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a> |
                    <a type="button" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fa-solid fa-circle-info"></i></a> |
                    <a type="button" asp-action="DeactivateConfirm" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-person-circle-minus"></i>Deaktiviraj</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(function () {
            $('#userTable').DataTable();
        });
    </script>
}
